@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
.user-signup{
    font-family: 'Barlow', sans-serif;
    background-color: #A3A86D
}
#password{
    border-right: 0;
}
a.input-group-text{
    background-color: white;
}